@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

.home-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: 20px 650px 20px 50px;
}
.title {
  font-family: "Bangers", cursive; /* Cambia a una fuente más llamativa */
  font-size: 3em; /* Tamaño grande para destacar */
  color: #f0cc3d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para darle profundidad */
  text-align: center; /* Centrar el título */
  /* margin: 15px 0; */
  animation: glow 1.5s infinite alternate; /* Añadir animación de resplandor */
  margin-top: 20px;
}
.error-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}
.loading-container {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 190vh;
}

@media (max-width: 768px) {
  .home-section {
    grid-template-columns: 1fr; /* Cambiamos a una columna para dispositivos móviles */
    margin: 20px 20px; /* Margen más pequeño */
  }

  .title {
    font-size: 2em; /* Reducimos el tamaño del título para dispositivos móviles */
  }
}
