.movie-detail-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 20px;
  position: relative;
}

.movie-detail-poster {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-detail-content {
  display: flex;
  flex-direction: column;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 240px;
  background-color: transparent;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  z-index: 1;
}
.back-button:hover {
  background-color: #0056b3;
  color: white;
}

.movie-genre,
.movie-year {
  margin: 5px 0;
}

.movie-rating {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.movie-rating svg {
  margin-right: 5px;
}
.error-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}
.loading-container {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 190vh;
}
.loading-container p {
  margin-top: 10px;
}
