.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, auto));
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 0;
}

.pagination button {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 25px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
}

.pagination button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #0056b3;
  color: black;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}
@media (max-width: 768px) {
  .pagination {
    grid-template-columns: auto;
    justify-content: center;
  }
}
