html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%; /* Asegura que el ancho no exceda el tamaño de la pantalla */
  height: 410%;
  min-height: 100vh;
  background: linear-gradient(45deg, #0021ba, #eaeaea);
  box-sizing: border-box;
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 20px;
  box-sizing: border-box;
}

.movie-card {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 415px; /*buscar mia*/
  width: 350px;
}

.container-card {
  padding: 0px;
}
.imange-container {
  height: 207px;
  grid-area: 1/1/2/2;
}
.movie-poster {
  width: 230px;
  height: 300px;
  border-radius: 25px;
  object-fit: cover;
}
.movie-info {
  padding: 10px;
  margin: 90px 100px 100px 0px;
}
.movie-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0px;
}
.movie-year {
  font-size: 18px;
  color: white;
  margin: 0;
}
.movie-genre{
  font-size: 15px;
  color: white;
  margin: 0px 0px 5px 0px;
}

/*Estilos moviList*/
.movie-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(280px, 1fr)
  ); /* Ajusta el número de columnas automáticamente */
  grid-template-rows: auto;
  gap: 10px; /* Espacio entre las tarjetas */
  justify-items: center; /* Centra las tarjetas horizontalmente */
  padding: 0px 20px; /* Espacio interno alrededor del contenedor de tarjetas */
  margin: 0px -50px 0px 50px;
}
.title {
  font-weight: 200; /* No es necesario especificar 'px' para 'font-weight' */
  font-size: 45px;
  margin-top: 20px; /* Margen superior para separar del borde superior */
  text-align: center; /* Alineación centrada del texto */
}
.filter-movie {
  height: 100px; /* Ajusta la altura según sea necesario */
  margin: 0; /* Elimina cualquier margen */
}

/*Estilos Home*/

.error-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta el tamaño según sea necesario */
  text-align: center;
}

.error-message {
  background-color: #f8d7da; /* Fondo rojo claro */
  color: #721c24; /* Texto rojo oscuro */
  border: 1px solid #f5c6cb; /* Borde rojo claro */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}
.loading-container {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ocupa toda la altura vertical */
}

.loading-container p {
  margin-top: 10px;
}
/* Pagination.css */
.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, auto));
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 0; /* Elimina cualquier margen */
  padding: 10px 0; /* Añade un poco de padding superior e inferior */
}

.pagination button {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 25px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
}

.pagination button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #0056b3;
  color: black;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
}

.home-section {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
  gap: 16px; /* Espacio entre columnas */
  margin: 20px 650px 20px 50px; /* Espacio inferior entre la sección de opciones y MovieList */
}
.genre-options,
.sort-options {
  flex: 1;
  margin: 0 8px; /* Ajusta este valor para reducir el espacio entre los selectores */
}

.list-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 25px;
  margin-bottom: 16px;
}

#list-options-select{
  border-radius: 25px;
  padding: 8px 16px;
  width: 200px;
  border: 2px solid black;
  color: black;
  font-weight: 20; /* No es necesario especificar 'px' para 'font-weight' */
  font-size: 16px;
}

.clear-selection{
  /* border-radius: 25px;
  margin-bottom: 16px;
  border-radius: 25px;
  padding: 8px 16px;
  width: 200px; */
  border-radius: 25px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}
.list-options-container {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre el selector y el botón */
}



/* .home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter {
  margin-bottom: 10px;
}

.filter label {
  margin-right: 10px;
  font-weight: bold;
}

.filter select {
  padding: 5px;
  font-size: 14px;
}
