html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%; /* Asegura que el ancho no exceda el tamaño de la pantalla */
  height: 410%;
  min-height: 100vh;
  background: linear-gradient(45deg, #0021ba, #eaeaea);
  box-sizing: border-box;
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .app-container {
    padding: 10px; /* Reducimos el padding para dispositivos móviles */
  }
}

@media (max-width: 768px) {
  #root {
    height: auto; /* Ajustamos la altura para dispositivos móviles más pequeños */
  }
}
